/* SELECTORES */


/* # denota un id */
/* RECOMENDACION: no usar id nunca */
/* #negrita {
  color: blue;
} */


/* el punto denota una clase */
/* .color_rojo {
  color: red;
} */

/* CTRL+/ crea un comentario con lo seleccionado*/


/* BEM */
/* 
  BLOCK 
  ELEMENT
  MODIFIER 
*/

/* que es BOX-MODEL CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Signika', sans-serif;
}

body {
   min-width: 100vw;
  min-height: 100vh;
  background-color: (245,239,231);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  border: 2px solid blue;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 0 50px;
  width: 100%;
  margin-top: 20px;
}

.nav_logo_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid rgb(8, 2, 2);
}

.nav_links {
  color: rgb(131, 26, 26);
  font-size: 16px;
  font-style: italic;
  list-style: none;

  min-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 20px;
  cursor: pointer;
  
}

.nav_links_button {
  border: 1px solid rgba(33, 53, 85);
  padding: 10px 20px;
  border-radius: 3px;
  background-color: rgb(79, 112, 156);
  box-shadow: 8px 11px 11px rgba(0, 0, 0, 0.3)  ; 
  transition: all 0.25s ease-out;
  opacity: 0.8;
}
.nav_links_button:hover {
  transform: translate(-5px, -5px);
  opacity: 1;
}

.nav .toggle_btn{
  color:black;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.contenedor_pastores {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  border-radius: 8px;
  background-color: rgb(216, 196, 182);
}

.first_image {
  width: 200px;
  height: 200px;
  border-radius: 20%;
  border: 2px solid rgb(8, 2, 2);
  display: block;
  margin-left: 20%;
  
}

.text_pastores {
  text-align-last: left;
  margin-left: 10px;
  font-size: 20px;
  

}


.nav_links_button a {
  text-decoration: none;
  color: rgb(216, 196, 182);
  font-size: 16px;
}

.swiper {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.swiper-button-next, .swiper-button-prev {
  color: whitesmoke !important;
}

.carousel_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* DROPDOWN MENU */
.dropdown_menu {
  
  position: absolute;
  right: 2rem;
  top:60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  list-style: none;
  transition: heigth .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .dropdown_menu.open{
    height: 240px;
  }

  .dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }


/*RESPONSIVE DESING*/

@media(max-width: 992px){
  .nav .nav_links
  {
    display: none;
  }
  .nav .toggle_btn {
    display: block;
  }
  .dropdown_menu{
      display:block;
  }

}

@media(max-width: 576px){
  .dropdown_menu{
    left:2rem;
    width: unset;

  }
}



.conteiner_mv {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border:10px solid pink;
  height: 1000px;
  margin-top: 200px;
}


.sectionMinistries{
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 1200px;
  border: 4px solid green;
  margin-bottom: 30px;  
}

.titlem {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  height: 50px;
  font-size: 35px;
  }

.ministries {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
    
  }

.item {
  flex-basis: 50%;
  text-align: center;
  background-color: lightblue;
  
}

.item img {
  max-width: 95%;
  height: auto;
  margin-top: 10px;
}

.videos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  

  margin-top: auto;
  margin-bottom: 50px;
  background-color: lightblue;
  border:4px solid grey;

 
   
}
.titlev {
  display: flex;
  background-color: lightblue;
  margin-bottom: 30px;
  height: 30px;
  font-size: 30px;
  }

  .videosf {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
   font-size: 25px;
   border: 2px solid blue;
    
    }
  
  .itemv {
    display:flex;
    flex-basis: 100%;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    background-color: lightblue;
    
    
  }
  .itemv iframe{
    
    height: 100%;
    width: 100%;
    top:0px;
    left:0px;
    }

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 50px 0;
}

.formulario h1 {
  font-size: 30px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  margin-top: auto;
  bottom: 0;
  width: 100%;
  height: 100px;
  gap: 20px 0;
}

.footer p {
  width: 80%;
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.footer_images {
  display: flex;
  justify-content: center;
  gap: 0 20px;
}

.footer_images img {
  position: relative;
  width: 30px;
  height: 30px;
}

@media only screen and (min-width: 576px) {
  .footer {
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    gap: unset;
    border: 1px solid red;
  }

  .footer p {
    width: fit-content;
  }
  
  .contenedor_pastores {
    align-items: center;
  justify-content: center;
    
  }
  .conteiner_mv {
   height: 2000px;
    
  }
  .swiper {
    width: 100%;
    height: auto;
  }
  .videosf{
    height: 700px;
  }
  .itemv{
    height: 700px;
  }
}


